@import './normalize.scss';

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1400px;
    padding: 15px;
    margin: 0 auto;
}

.main {
    flex: 1 1 auto;
}
